body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.topo {
  background: #0000FF;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topo a:hover{
 opacity: .8;
}
.topo a:active{
  opacity: .5;
}

.topo nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 30px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.filtros {
  text-align: center;
  margin-bottom: 20px;
}

.filtros button {
  margin: 5px;
  padding: 10px 14px;
  border: none;
  background-color: #0000FF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.filtros button:hover {
  background-color: #0000cc;
}

.grid-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.produto {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.produto:hover {
  transform: scale(1.03);
}

.produto img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

.produto h3 {
  margin: 10px 0;
  font-size: 18px;
}

.produto button {
  background: #0000FF;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}